@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Full tutoriall on how to make the rest of the page :)</a></p>
    <p><img src="~/images/200.gif" alt="not a miku fan xD" width="500" /></p>
</div>
